div {
  text-align: center;
}

body {
  background-image:url("/static/background.jpeg");
  background-size: cover;
}

h1.button4 {
 background-color:#f14e4e;
 display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.1em 0.1em 0;
 border:0.16em solid rgba(255,255,255,0);
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#f14e4e;
 text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
 text-align:center;
 transition: all 0.2s;

}
h1.button4:hover{
 border-color: rgba(255,255,255,1);
}
@media all and (max-width:30em){
 h1.button4{
  display:block;
  margin:0.2em auto;
 }
}

.repeating {
  background-image:url("/static/listbackground.png");
  background-color:whitesmoke;
  background-blend-mode:multiply;
  background-size: auto;
}

.aboutpage {
  background-image: url("/static/aboutbg2.jpg");
  background-color: white;
  background-blend-mode:multiply;
  background-size: auto;
}

.profilepic {
  border-radius: 100px;
  border: 3px dotted;
  border-color: white;
}

.aboutbubble {
  background-color: paleturquoise;
  width: 40%;
  border-radius: 25px;
  padding: 16px;
  border: 3px dotted white;
}

.aboutus {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 250px 80px 250px;
  grid-gap: 30px;
  justify-content: center;
}

.box {
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

.abouttext {
  color: slategrey;
}

hr {
  margin: auto;
  width: 30%;
  size: "5";
  color: black;

}

h3 {
  font-size: 30px;
  font-family: serif;
  color: #3E78A3;
  text-decoration: underline;
  text-decoration-color: white;
}

.intropage {
  margin-left: auto;
  margin-left: auto;
  width: 42em;
}

.center {
  display: flex;
  justify-content: center;
}

.peoplecount {

  display: flex;
  justify-content: center;

  flex-direction: row;
  align-items: center;
}

.eventtitle {
  font-size: 30px;
  font-family: serif;
  color: #3E78A3;
  text-decoration: underline;
  text-decoration-color: white;
  text-align: center;
}
.byevent {
  color:#3E78A3;
  font-family: serif;
  font-size: 24px;
}

.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 35em;
  font-family: serif;
  font-size: 18px;
}



#logout {
  color: white;
}

#addeventform {
  text-align: center;
}

.niceform {
  background-color: white;
  opacity: 0.71;
  margin: auto;
  width: 40%;
  border-radius: 15px;
}

.leadertext {
  margin-left: auto;
  margin-right: auto;
  width: 35em;
  font-family: serif;
  font-size: 18px;
  font-style: italic;
}

.label {
  font-family: monospace;
  font-size: 18px;
}

.positionleft {
  float: left;
}

.positionright {
  float: right;
}

.button {
  border-radius: 15px;
  background-color: #3E78A3;
  color: white;
  height: 30px;
  width: 140px;
}

.brandname {
  text-decoration: underline;
  font-size: 60px;
  font-weight: bold;
  font-family: impact;
  color: #303030;
  text-decoration-color: white;
}

.header {
  margin: auto;
  width: 30em;
}

.slogan {
  font-style: italic;
  font-size: 18px;
  color: #303030;
}

.signin {
  display: flex;
  justify-content: center;
}

#waitingpage {
  font-size: 120px;
  font-family:'Roboto',sans-serif;
  text-align: center;
  color: #319ccd;
}

.button2 {
  color: white;
  text-align: center;
  padding: 2px 8px;
  font-size: 17px;
  border-radius: 15px;
  background-color: #3E78A3;
}

.buttoncount {
  border-radius: 15px;
  background-color: #3E78A3;
  color: white;
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
  width: 80px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  opacity: 0.91;
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #319ccd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
  color: #319ccd;
}
