<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <title>About the Creators</title>
  </head>
  <body class="aboutpage">
    <div class="header">
      <p>
      <a href="/main">
        <img class="positionleft" src="/static/headericon.png" height="80" width="80">
      </a>
      </p>

      <p>
      <a href="/main">
        <img class="positionright" src="/static/headericon.png" height="80" width="80">
      </a>
      </p>
      <h1 class="brandname"> COLLINK </h1>
      <h2 class="slogan"> Linking up students on their college campuses nationwide! </h2>
    </div>

      <br/>
      <nav class="topnav">

      <ul class="menu">
        <li class="menu-item"> <a href="/main">Home</a> </li>
        <li class="menu-item"> <a href="/addevent">Add Events</a> </li>
        <li class="menu-item"> <a href=""> Events </a>
        <ul class="menu submenu">
            <li class="menu-item"> <a href="/sports">Sports</a> </li>
            <li class="menu-item"> <a href="/academics">Academics</a> </li>
            <li class="menu-item"> <a href="/clubs">Clubs </a> </li>
            <li class="menu-item"> <a href="/socialevents">Social Events </a></li>
        </li>
        </ul>
        <li class="menu-item"> <a href="/yourevents">Your Events</a> </li>
        <li class="menu-item"> <a href="/aboutus">About Us</a> </li>
        <li class="menu-item"> <a id="logout" href="{{logout_url}}"> Log Out </a> </li>
      </ul>
      </nav>
    <br/>
    <br/>
  <center> <section class="aboutus aboutbubble">

    <div> <img src="/static/pictures/alex.jpg" class="box profilepic"> </div>
    <div> <img src="/static/pictures/lawrence.jpg" class="box profilepic"> </div>
    <div> <img src="/static/pictures/charles.jpg" class="box profilepic"> </div>
    <div> <h3 class="box"> Alexandra Nwigwe </h3> </div>
    <div> <h3 class="box"> Lawrence Lin </h3> </div>
    <div> <h3 class="box"> Charles Baiden </h3> </div>
    <div> <p class="box abouttext"> Alex primarily worked on the front-end part of the web application.
      The styling and aesthetics of the application was a result of Alex’s work.
      She also worked on querying information from the database so events showed on their respective pages, adding a ‘sort-by’ functionality, and developing
      a functional 'add-event' form. </p> </div>
    <div> <p class="box abouttext"> Lawrence primarily worked on the back end,  and his work resulted in the Calendar feature,
      the database models, image functionality which made it possible for users to input images and store in the database,
       and redirection of pages based on the category they clicked on the 'add-event' form.</p> </div>
    <div> <p class="box abouttext"> Charles worked on the JavaScript code for the Sign Up and remove buttons
      which was linked to the HTML code in order for the buttons to work, and also collaborated with
      Lawrence on writing some of the code in the back end. </p> </div>
  </section>
</center>





  </body>
</html>
