<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Events</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
  </head>
  <body>
    <div class="header">
      <img class="positionleft" src="/static/headericon.png" height="80" width="80">
      <img class="positionright" src="/static/headericon.png" height="80" width="80">
      <h1 class="brandname"> COLLINK </h1>
      <h2 class="slogan"> Linking up students on their college campuses nationwide! </h2>
    </div>

      <br/>

      <div class='topnav'>
        <a href='/main'> Home </a>
        <a class='active' href ='/addevent'> Add Events </a>
        <a href='/sports'> Sports </a>
        <a href='/academics'> Academics </a>
        <a href='/clubs'> Clubs </a>
        <a href='/socialevents'> Social Events </a>
        <a id="logout" href="{{logout_url}}"> Log Out </a>
      </div>
    <br/>
    <br/>
    <center> <img src="/static/eventsicon.png" width="250" height="150"> </center>
    <br/>
    <br/>
    <form id="addeventform" method="post" enctype="multipart/form-data" action="/addevent">
      <section class="niceform">
        <br/>
      <label class="label"> Name/Organization:
        <input type="text" name="host_name" value="" placeholder="Name of host" required>
      </label>
      <br/>
      <br/>
      <label class="label"> Event Title:
        <input type="text" name="event_name" value="" placeholder="Name of event" required>
      </label>
      <br/>
      <br/>
      <label class="label"> Date:
        <input type="date" name="event_date" required>
      </label>
      <br/>
      <br/>
      <label class="label"> Time:
        <input type="time" name="event_time" required>
      </label>
      <br/>
      <br/>
      <label class="label"> Location:
        <input type="text" name="event_location" value="" placeholder="Location of event" required>
      </label>
      <br/>
      <br/>
      <label class="label"> Type: </label>
        <input class="radio-button" type="radio" name="event_type" value="sports" checked> Sports </input>
        <input class="radio-button" type="radio" name="event_type" value="academics"> Academics </input>
        <input class="radio-button" type="radio" name="event_type" value="clubs"> Clubs </input>
        <input class="radio-button" type="radio" name="event_type" value="parties"> Social Events </input>
      <br/>
      <br/>
      <label class="label"> Image:
        <input type="file" name="event_image">
      </label>

      <br/>
      <br/>
      <label class="label"> Description:
        <textarea rows="4" cols="25" name="event_des" value="" placeholder="Describe your event" required></textarea>
      </label>
      <br/>
      <br/>
      <label class="label"> Contact Information:
        <input type="email" name="host_email" value="" placeholder="Host's email" required>
      </label>
      <br/>
      <br/>
      </section>
      <br/>
    <button class="button" type="submit" > Add Your Event! </button>
  </form>





  </body>
</html>
