<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
  </head>
  <body>
    <div class="header">
      <img class="positionleft" src="/static/headericon.png" height="80" width="80">
      <img class="positionright" src="/static/headericon.png" height="80" width="80">
      <h1 class="brandname"> COLLINK </h1>
      <h2 class="slogan"> Linking up students on their college campuses nationwide! </h2>
    </div>

      <br/>

      <div class='topnav'>
        <a href='/main'> Home </a>
        <a href ='/addevent'> Add Events </a>
        <a href='/sports'> Sports </a>
        <a href='/academics'> Academics </a>
        <a class='active' href='/clubs'> Clubs </a>
        <a href='/socialevents'> Social Events </a>
        <a href='/yourevents'> Your Events </a>
        <a id="logout" href="{{logout_url}}"> Log Out </a>
      </div>
    <br/>
    <br/>
    <div>
    {% for i in range(clubs_events|length) %}
    <h1 class="eventtitle"> {{clubs_events[i].event_name}} <h3>
    <h2 class="byevent"> hosted by {{clubs_events[i].host_name}} at {{clubs_events[i].event_location}} </h2>
    <p class="blocktext"> <b>{{clubs_events[i].event_date}} {{clubs_events[i].event_time}} </b> </p>
    <b> <p class="blocktext">Description: </b> {{clubs_events[i].event_des}} </p>
    <p class="blocktext"><i>Contact the host at: </i> {{clubs_events[i].host_email}} </p>
    <img src="/image?event_key={{clubs_events[i].key.urlsafe()}}" height="100" width="180">
    </br>
    </br>
    <a class="button2" href={{url_list[i]}} target="_blank"> Add to my Calendar! </a>
    <br/>
    <div class="peoplecount">
      <button class="buttoncount signUpButton" type="button" >Sign Up!</button>
      <p>People Attending: <a id="clicks">{{clubs_events[i].num_attendees}}</a></p>


      <button class="buttoncount removeButton" type="button">Drop Out.</button>

        <input type="hidden" value="{{clubs_events[i].key.urlsafe()}}">

  </div>
    <br/>
    <hr>
    {% endfor %}
    </div>
  <script src="/static/index.js" type="text/javascript"></script>
</body>
</html>
