<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Link to College Events!</title>
  </head>
  <body>
    <h1> Collink <h1>
      <h2> Linking up college students in their campuses nationwide! </h2>
    <h3> What is Collink? </h3>
    <p> Tired of not knowing what's happening around campus? Don't worry, there's an app
      for that. Collink allows college campuses to be more united. Students can add events
      to Collink and other students on that campus can sign up for these events. If you're
      worried about signing up for too many conflicting events, Collink has a schedule feature
      that allows you to see all the events you've signed up for.
    <h3> What Events does Collink have? </h3>
    <p> You decide. Collink has a tab for sports, clubs, study groups and academics, parties,
      and other interests. If you have an event that involves people, Collink is the place to
      post it.  

  </body>
</html>
