<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Link to College Events!</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
  </head>
  <body>

    <div class="header">
      <img class="positionleft" src="/static/headericon.png" height="80" width="80">
      <img class="positionright" src="/static/headericon.png" height="80" width="80">
      <h1 class="brandname"> COLLINK <h1>
      <h2 class="slogan"> Linking up students on their college campuses nationwide! </h2>
      {% if isUser %}
      You're logged in as {{ email }}!
      <a href = "{{ logout_url }}">Sign out</a>
      {% else %}
      Please log in.
      <a href = "{{ login_url }}">Sign in</a>
      {% endif %}
    </div>
    <div class='topnav'>
      <a class='active' href='/'> Home </a>
      <a class='active' href ='/addevent'> Add Events </a>
    </div>

    <center> <img src="/static/homepageicon.png" height="300"> </center>


    <h3> What is Collink? </h3>
    <p class='leadertext'> Tired of not knowing what's happening around campus? Don't worry, there's an app
      for that. </p>
    <p class='blocktext'> Collink allows college campuses to be more united. Students can add events
      to Collink and other students on that campus can sign up for these events. If you're
      worried about signing up for too many conflicting events, Collink has a schedule feature
      that allows you to see all the events you've signed up for.
    <h3> What Events does Collink have? </h3>
    <p class='leadertext'> You decide! </p>
    <p class='blocktext'> Collink has a tab for sports, clubs, study groups and academics, parties,
      and other interests. If you have an event that involves people, Collink is the place to
      post it.

  </body>
</html>
