<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
  </head>
  <body>
    <div class="header">
      <img class="positionleft" src="/static/headericon.png" height="80" width="80">
      <img class="positionright" src="/static/headericon.png" height="80" width="80">
      <h1 class="brandname"> COLLINK </h1>
      <h2 class="slogan"> Linking up students on their college campuses nationwide! </h2>
    </div>

      <br/>

      <div class='topnav'>
        <a href='/main'> Home </a>
        <a href ='/addevent'> Add Events </a>
        <a href='/sports'> Sports </a>
        <a href='/academics'> Academics </a>
        <a href='/clubs'> Clubs </a>
        <a class='active' href='/socialevents'> Social Events </a>
        <a href='/yourevents'> Your Events </a>
        <a id="logout" href="{{logout_url}}"> Log Out </a>
      </div>
    <br/>
    <br/>
    <div>
    {% for event_post in social_events %}
          <h1 class="eventtitle"> {{event_post.event_name}} <h3>
          <h2 class="byevent"> hosted by {{event_post.host_name}} at {{event_post.event_location}} </h2>
          <p class="blocktext"> <b>{{event_post.event_date}}    {{event_post.event_time}} </b> </p>
          <b> <p class="blocktext">Description: </b> {{event_post.event_des}} </p>
          <p class="blocktext"><i>Contact the host at: </i> {{event_post.host_email}} </p>
          <a class="button2" href=https://www.google.com/calendar/render?action=TEMPLATE&text={{event_post.event_name}}&dates=&details={{event_post.event_des}}&location={{event_post.event_location}}&sf=true&output=xml"
          " target="_blank" rel="nofollow">Add to my calendar</a>
          <br/>
          <br/>
          <hr>
    {% endfor %}
    </div>

  </body>
</html>
