<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <title> Sports Events </title>
  </head>
  <body>
    <div class="header">
      <img class="positionleft" src="/static/headericon.png" height="80" width="80">
      <img class="positionright" src="/static/headericon.png" height="80" width="80">
      <h1 class="brandname"> COLLINK </h1>
      <h2 class="slogan"> Linking up students on their college campuses nationwide! </h2>
    </div>

      <br/>

    <div class='topnav'>
      <a href='/main'> Home </a>
      <a href ='/addevent'> Add Events </a>
      <a class='active' href='/sports'> Sports </a>
      <a href='/academics'> Academics </a>
      <a href='/clubs'> Clubs </a>
      <a href='/socialevents'> Social Events </a>
      <a href='/yourevents'> Your Events </a>
      <a id="logout" href="{{logout_url}}"> Log Out </a>
    </div>
    <br/>
    <br/>

    <div>
      {% for i in range(0,sports_events|length) %}

        <h1 class="eventtitle"> {{sports_events[i].event_name}} <h3>
        <h2 class="byevent"> hosted by {{sports_events[i].host_name}} at {{sports_events[i].event_location}} </h2>
        <p class="blocktext"> <b>{{sports_events[i].event_date}} {{sports_events[i].event_time}} </b> </p>
        <b> <p class="blocktext">Description: </b> {{sports_events[i].event_des}} </p>
        <p class="blocktext"><i>Contact the host at: </i> {{sports_events[i].host_email}} </p>
        <h1> {{event_image}} </h1>
        <a class="button2" href={{url_list[i]}} target="_blank"> Add to my Calendar! </a>
        <br/>
    <div class="peoplecount">
        <button class="buttoncount" type="button" id='signUpButton' onClick="onClick(1, 'signUpButton', 'removeButton')">Sign Up!</button>
        <p>People Attending: <a id="clicks">0</a></p>

        <button class="buttoncount" type="button" id='removeButton' onClick="onClick2(-1, 'removeButton', 'signUpButton')">Drop out.</button>
    </div>
      <br/>
      <hr>
      {% endfor %}
      </div>
    <script src="/static/index.js" type="text/javascript"></script>
  </body>
</html>
